@model Problem
@{
    ViewData["Title"] = Model.Title;
}

<div class="ProblemPage">
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column-9">
                <div class="ProblemContent">
                    <h1 class="ProblemPageHeader">@Model.Title</h1>
                    @Html.Raw(@Model.Content)
                </div>
            </div>
            <div class="grid_column-3">
                <div class="ProblemMenu">
                    <div class="ProblemMenu_Buttons">
                        <a asp-controller = "Problem" asp-action = "Submit" asp-route-id = "@Model.ID" class = "ProblemMenu_Link">
                            <div class="ProblemSubmitButton button">
                                <i class="fas fa-upload"> </i>
                                Nộp bài
                            </div>
                        </a>
                        <a href="" class = "ProblemMenu_Link">
                            <div class="ProblemStatistictButton button">
                                <i class="fas fa-chart-pie"> </i>
                                Thống kê
                            </div>
                        </a>
                    </div>
                    <div class="ProblemPropertyContainer">
                        <p class = "ProblemProperty"><b>Problem ID: </b>@Model.ID</p>
                        <p class = "ProblemProperty"><b>CPU Time limit: </b></p>
                        <p class = "ProblemProperty"><b>Memory limit: </b></p>
                        <p class = "ProblemProperty"><b>Difficulty: </b>@Model.Difficulty</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>