@{
    Layout = "_AdminLayout";
}
@model List<Submission>
<div class="listAdminObjectsPage">
    <div class="grid_row">
        <div class="grid_column">
            <div class="listAdminObjectsPage_header">
                <h1>Danh sách tất bài nộp</h1>
            </div>
            @await Html.PartialAsync("_SearchSubmissionForm", ViewData[""])
            <table cellspacing="0" cellpadding="0" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>
                            Mã bài
                        </th>
                        <th style="text-align: left;">
                            Tên bài
                        </th>
                        <th style="text-align: left;">
                            Tên tài khoản
                        </th>
                        <th>
                            Ngôn ngữ
                        </th>
                        <th>
                            Trạng thái
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                <a asp-action = "Submission" asp-controller = "Admin" asp-route-id = "@Model[i].ID" style="color: #008eff; text-decoration: none">@Model[i].ID</a>
                            </td>
                            <td>@Model[i].problem.code</td>
                            <td style="text-align: left;">
                                @Model[i].problem.title
                            </td>
                            <td style="text-align: left;">
                                @Model[i].account.accountName
                            </td>
                            <td>@Model[i].language</td>
                            <td>@Model[i].status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="grid_row">
    <div class="grid_column">
        @{
            string[] param = {"ListSubmissions", "Admin"};
        }
        @await Html.PartialAsync("_Pagination", param)
    </div>
</div>
@section Scripts
{
    <script>
        new SlimSelect({
            select: '#status',
            showSearch: false,
        })
        new SlimSelect({
            select: '#language',
            showSearch: false,
        })
        var typeAccountSelect = document.querySelector("#status");
        var isActived = document.querySelector('#language');
        var submitButton = document.querySelector(".searchForm_submit");

        typeAccountSelect.addEventListener('change', function()
        {
            submitButton.click();
        });
        isActived.addEventListener('change', function()
        {
            submitButton.click();
        });
    </script>
}