@using PBL3.Models
@model Comment
<div class="comment_item" id = "comment@(Model.ID)">
    <div style="display: flex;">
        <a href="">
            @if(!String.IsNullOrEmpty(Model.account.avar))
            {
                <div class = "comment_avar" style="background-image: url(@Model.account.avar);"></div>
            }
            else
            {
                <div class = "comment_avar"></div>
            }
        </a>
        <div class="comment_container">
            <a href="" class="comment_author">
                @Model.account.accountName
            </a>
            <div class="comment_content">
                @Html.Raw(@Model.content)
            </div>
        </div>
    </div>
    <div class="comment_dot">
        <i class="fas fa-ellipsis-h"></i>
        <div id="comment_extern-tool@(Model.ID)" class="comment_extern-tool">
            <span class = "delete_comment" onclick="deleteComment('@Model.ID')">Xóa</span>
        </div>
    </div>
    @if(Model.likes.Where(p => p.status == true).ToList().Count == 0)
    {
        <div class="comment_likes" id = "comment_likes@(Model.ID)" style="opacity: 0;">
            <i class="fas fa-thumbs-up"></i>
            <span id = "comment_numlikes@(Model.ID)">@Model.likes.Where(p => p.status == true).ToList().Count</span>
        </div>
    }
    else
    {
        <div class="comment_likes" id = "comment_likes@(Model.ID)" style="opacity: 1;">
            <i class="fas fa-thumbs-up"></i>
            <span id = "comment_numlikes@(Model.ID)">@Model.likes.Where(p => p.status == true).ToList().Count</span>
        </div>
    }
</div>
<div class="comment_tool" id = "comment_tool@(Model.ID)">
    @{
        var accountID = 0;
        if(Context.User.Identity.IsAuthenticated)
        {
            accountID = Convert.ToInt32(Context.User.Claims.FirstOrDefault(p => p.Type == "UserID").Value);
        }
    }
    @if(Model.likes.FirstOrDefault(p => p.accountID == accountID && p.status == true) == null)
    {
        <span class="comment_tool_like" id = "comment_tool_like@(Model.ID)" onclick="LikeComment('@Model.ID')">Thích</span>
    }
    else
    {
        <span class="comment_tool_like comment_tool_like--active" id = "comment_tool_like@(Model.ID)" onclick="LikeComment('@Model.ID')">Thích</span>
    }
    @if(Model.level < 3)
    {
        <span class="comment_tool_reply" onclick="LoadCommentBox('@Model.ID')">Trả lời</span>
    }
    else
    {
        <span class="comment_tool_reply" onclick="LoadCommentBox('@Model.rootCommentID')">Trả lời</span>
    }
    @{
        var timeCreate = @DateTime.Now.Subtract(Model.timeCreate);
    }
    @if(timeCreate.Days/30 >= 9)
    {
        <span>@Model.timeCreate.ToString("dd MMMM yyyy")</span>
    }
    else
    {
        if(timeCreate.Days/30 > 0)
        {
            <span>@(timeCreate.Days/30) tháng trước</span>
        }
        else
        {
            @if(timeCreate.Days > 0)
            {
                <span>@timeCreate.Days ngày trước</span>
            }
            else
            {
                @if(timeCreate.Hours > 0){
                    <span>@timeCreate.Hours giờ trước</span>
                } 
                else
                {
                    <span>@timeCreate.Minutes phút trước</span>
                }
            }
        }
    }

    @if(Model.child.Count > 0)
    {
        <span class="comment-load-child" id = "comment-load-child@(Model.ID)" onclick="LoadCommentChild('@Model.ID')">Xem phản hồi</span>
    }
    @if(Model.level < 3)
    {
        <div class="comment_child" id = "comment_child@(Model.ID)">
        </div>
    }
    <div class="comment_box" id = "comment-box@(Model.ID)">
        <i class="fas fa-times comment_box_icon" onclick="CloseCommentBox('@Model.ID')"></i>
        <form onsubmit="return PostCommentData('@Model.ID', '@Model.postID')">
            <textarea name="content" id="editor@(Model.ID)" data-first = "1" cols="30" rows="10" value = ""></textarea>
            <button class="button comment_button">Gửi</button>
        </form>
    </div>
</div>