@using Microsoft.AspNetCore.Http
@using System.Linq
@using Microsoft.AspNetCore.Authorization
@using PBL3.General
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/jpg" href="/img/favicon.jpg"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="/css/Home.css">
    <link rel="stylesheet" href="/css/ListProblems.css">
    <link rel="stylesheet" href="/css/Problem.css">
    <link rel="stylesheet" href="/css/Layout.css">
    <link rel="stylesheet" href="/css/SubmitProblem.css">
    <link rel="stylesheet" href="/css/Base.css">
    <link rel="stylesheet" href="/css/Login.css">
    <link rel="stylesheet" href="/css/SignUp.css">
    <link rel="stylesheet" href="/css/ListSubmissions.css">
    <link rel="stylesheet" href="/css/ListObjects.css">
    <link rel="stylesheet" href="/css/General.css">
    <link rel="stylesheet" href="/css/Articles.css">
    <link rel="stylesheet" href="/css/Account.css">
    <link rel="stylesheet" href="/css/AddEdit.css">

    <script type="text/javascript" src="/ckeditor/ckeditor.js" charset="utf-8"></script>
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/vs.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <script src="/codemirror-5.60.0/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/codemirror-5.60.0/lib/codemirror.css">
    <script src="/codemirror-5.60.0/mode/clike/clike.js"></script>
    <script src="/codemirror-5.60.0/mode/python/python.js"></script>

    <script src="/codemirror-5.60.0/addon/edit/closebrackets.js"></script>
    <script src = "/codemirror-5.60.0/addon/fold/foldcode.js"></script>
    <script src = "/codemirror-5.60.0/addon/fold/foldgutter.js"></script>
    <script src = "/codemirror-5.60.0/addon/fold/brace-fold.js"></script>
    <link rel="stylesheet" href="/codemirror-5.60.0/addon/fold/foldgutter.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="appContainer">
        <header class = "appHeader">
            <div class="grid ">
                <div class="appHeader_row grid_row">
                    <div class="grid_column" style="display: flex; justify-content: space-between;">
                        <ul class="appHeader_list">
                            <li class="appHeader_item">
                                <div class="appHeader_logo">
                                    <a asp-action = "Index" asp-controller = "Home" class ="appHeader_link" ><img src="/img/logo.png" alt=""></a>
                                </div>
                            </li>
                            <li class="appHeader_item @Html.IsSelected(actions: "Index", controllers: "Home", cssClass: "appHeader_item--active")">
                                <div class="appHeader_text">
                                    <a href="/" class ="appHeader_link" >Trang Chủ</a>
                                </div>
                            </li>
                            <li class="appHeader_item @Html.IsSelected(actions: "Index", controllers: "Problems", cssClass: "appHeader_item--active")">
                                <div class="appHeader_text">
                                    <a href="/Problems" class ="appHeader_link" >Bài Tập</a>
                                </div>
                            </li>
                            <li class="appHeader_item @Html.IsSelected(actions: "Index", controllers: "Submissions", cssClass: "appHeader_item--active")">
                                <div class="appHeader_text">
                                    <a href="/Submissions" class ="appHeader_link" >Bài nộp</a>
                                </div>
                            </li>
                            <li class="appHeader_item @Html.IsSelected(actions: "Index", controllers: "Articles", cssClass: "appHeader_item--active")">
                                <div class="appHeader_text">
                                    <a href="/Articles" class ="appHeader_link" >Bài viết</a>
                                </div>
                            </li>
                        </ul>
                        @await Html.PartialAsync("_LoginHeader")
                    </div>
                </div>
            </div>
        </header>
        <div class="appBody">
            @RenderBody()
        </div>
        <footer>
            <div class="grid">
                <div class="grid_row">
                    <div class="grid_column">
                        <div class="appFooter">
                            <p><a href="/" class="appFooter_link">CodeTop1</a></p>
                            <p>Developed by Tran Nhu Tri - Phan Dinh Khoi - Le Huynh Nhat Long - Do Tan Truong Sanh</p>
                            <p>University of Science and Technology - University of Danang</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @{
        var accountName = Context.User.Identity.IsAuthenticated ? @Context.User.Claims.FirstOrDefault(p => p.Type == "UserName").Value : "";
    }
    <script>
            MathJax.Hub.Config({
              tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
            });
            window.addEventListener('load', (event) => {
                document.querySelectorAll('pre code').forEach((block) => {
                    if(block.classList == "")
                        block.classList.add("plaintext");
                    hljs.highlightBlock(block);
                });
            });
    </script>
    <script>
        function showNotifications()
        {
            $('.appHeader_notifications_dropdown').toggle();
        }

        function showUserTool()
        {
            $('.appHeader_dropdown').toggle();
        }

        if('@accountName' != "")
        {
            fetch("https://localhost:5001/Notification/ListNotifications?accountName=" + '@accountName')
            .then(res => res.text())
            .then(data => {
                if(data == "")
                {
                    $('#notification-list').html('<p style = "text-align: center;margin: 0;font-size: 16rem; padding: 10px 0;">Không có thông báo mới !</p>')
                    $(".number_notifi").html(0);
                }
                else
                {
                    $('#notification-list').html(data);
                }
            })
        }

        function getNotificationData(accountName)
        {   
            fetch("https://localhost:5001/Notification/GetNumberUnSeenNotification?accountName=" + accountName)
            .then(res => res.text())
            .then(numberOfNotifications => {
                if(numberOfNotifications >= 0)
                {
                    fetch("https://localhost:5001/Notification/ListNotifications?accountName=" + accountName)
                    .then(res => res.text())
                    .then(data => {
                        if(data == "")
                        {
                            $('#notification-list').html('<p style = "text-align: center;margin: 0;font-size: 16rem; padding: 10px 0;">Không có thông báo mới !</p>')
                        }
                        else
                        {
                            $('#notification-list').html(data);
                        }
                    })
                    
                    if(numberOfNotifications > 0)
                    {
                        $(".number_notifi").html(numberOfNotifications);
                        $(".number_notifi").css("opacity", "1");
                    }
                    else
                    {
                        $(".number_notifi").css("opacity", "0");
                        $(".number_notifi").html(0);
                    }
                }

                setTimeout(function()
                {
                    getNotificationData(accountName)
                }, 4000);
            })
        }
        if('@accountName' != "")
        {
            getNotificationData('@accountName');
        }
    </script>
    <script>
        window.addEventListener('click', function(e){

            var bellIcon = document.querySelector(".appHeader_bellIcon");
            var avarIcon = document.querySelector(".appHeader_avarIcon");

            if(bellIcon != null)
            {
                let top = bellIcon.offsetTop, left = bellIcon.offsetLeft;
                let height = bellIcon.offsetHeight, width = bellIcon.offsetWidth;
                if(e.clientX < left || e.clientX > left + width || e.clientY < top || e.clientY > top + height)
                    $('.appHeader_notifications_dropdown').css("display", "none");
            }
            if(avarIcon != null)
            {
                let top = avarIcon.offsetTop, left = avarIcon.offsetLeft;
                let height = avarIcon.offsetHeight, width = avarIcon.offsetWidth;
                if(e.clientX < left || e.clientX > left + width || e.clientY < top || e.clientY > top + height)
                    $('.appHeader_dropdown').css("display", "none");
            }
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
