@using PBL3.Models
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Thông tin bài nộp";
}
@model Submission
<div class="addEditPage">
    <div class="grid_row">
        <div class="grid_column">
            <div class="addEditPage_header">
                <h1>Thông tin bài nộp</h1>
            </div>
            <form asp-action = "DeleteSubmission" asp-route-id = "@Model.ID">
                <div class = "addEditPage_input">
                    <div class="formGroup">
                        <label for="problem.code" style="width: 150px; display: inline-block;">Mã bài:</label>
                        <input asp-for = "problem.code" type="text" disabled>
                    </div>
                    <div class="formGroup">
                        <label for="problem.title" style="width: 150px; display: inline-block;">Tên bài:</label>
                        <input asp-for = "problem.title" type="text" disabled>
                    </div>
                    <div class="formGroup">
                        <label for="account.accountName" style="width: 150px; display: inline-block;">Người nộp:</label>
                        <input asp-for = "account.accountName" type="text" disabled>
                    </div>
                    <div class="formGroup">
                        <label for="timeCreate" style="width: 150px; display: inline-block;">Ngày nộp:</label>
                        <input asp-for = "timeCreate" type="text" disabled>
                    </div>
                    <div class="formGroup" style="display: flex; align-items: center;">
                        <label for="language" style="width: 150px; display: inline-block;">Ngôn ngữ:</label>
                        <div style="width: 250px; margin-left: 5px;">
                            <select asp-for = "language" id="languageSelect">
                                <option value="cpp17">C++</option>
                                <option value="python3">Python 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="formGroup">
                        <label for="status" style="width: 150px; display: inline-block;">Trạng thái:</label>
                        <input asp-for = "status" type="text" disabled>
                    </div>
                    <div class="formGroup">
                        <label for="time" style="width: 150px; display: inline-block;">Thời gian thực hiện:</label>
                        <input asp-for = "time" type="text" disabled>
                    </div>
                    <div class="formGroup">
                        <label for="memory" style="width: 150px; display: inline-block;">Bộ nhớ sử dụng:</label>
                        <input asp-for = "memory" type="text" disabled>
                    </div>
                    <div class="formGroup">
                        <label>Code:</label>
                        <div style="max-height: 300px; overflow-y: auto">
                            <pre><code class="@Model.language">@Model.code</code></pre>
                        </div>
                    </div>
                    <div class="formGroup">
                        <label style="margin-bottom: 20px;">TestCases:</label>
                        <table cellspacing="0" cellpadding="0" class="table" style="border: 1px solid #cccccc6e">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        Trạng thái
                                    </th>
                                    <th>
                                        Thời gian thực hiện
                                    </th>
                                    <th>
                                        Bộ nhớ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(int i = 0; i < Model.submissionResults.Count; i++)
                                {
                                    <tr>
                                        <td> @(i + 1)</td>
                                        <td>@Model.submissionResults[i].status</td>
                                        <td>@Model.submissionResults[i].excuteTime</td>
                                        <td>@Model.submissionResults[i].memory</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="formSubmitGroup" style="position: sticky; bottom: 0; background-color: #fff">
                        <div class="formSubmit">
                            <div type="submit" class="submitButton button">
                                <i class="fas fa-sync-alt"></i>
                                <p>Chấm lại</p>
                            </div>
                        </div>
                        <div class="formSubmit">
                            <a style="text-decoration: none;">
                                <div class="submitButton button" style="background-color: #dc3545">
                                    <i class="fas fa-trash-alt"></i>
                                    <p>Xóa bài nộp</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        new SlimSelect({
            select: '#languageSelect',
            showSearch: false,
        })
    </script>
}