@model Submission
<div class="SubmissionsPage">
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column">
                <div class="SubmissionsContainer">
                    <h1 class="Submissions_Header">Submission</h1>
                    <table cellspacing="0" cellpadding="0" class="Submissions_Table">
                        <thead class = "Submissions_Table_Header">
                            <tr>
                                <th>ID</th>
                                <th>Ngày nộp</th>
                                <th>Bài</th>
                                <th>Trạng thái</th>
                                <th>Total CPU Time</th>
                                <th>Ngôn ngữ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class = "link SubmissionID">@Model.ID</td>
                                <td>@Model.timeCreate</td>
                                <td><a asp-action = "Problem" asp-route-id = "@Model.problem.code" asp-controller = "ListProblems" class = "link">@Model.problem.title</a></td>
                                <td class = "SubmissionStatus">Running</td>
                                <td class = "SubmissionTime">?</td>
                                <td>@Model.language</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>