@{
    ViewData["Title"] = "Chủ đề bài viết";
}
@using PBL3.Models
@model List<Topic>
<div class="topic-list">
    <div class="grid">
        @for(int i = 0; i < Model.Count; i++)
        {
            if(i % 4 == 0)
            {
                <div class="grid_row topic_row">
                    <div class="grid_column-3"> 
                        <a asp-action="Index" asp-route-topicName="@Model[i].name"  class="topic-item">
                            <div class="topic-item__img">
                                <img src="@Model[i].describeImage" alt="">
                            </div>
                            <div class="topic-item__dicription">
                                <h3 class="topic-item__title">@Model[i].name</h3>
                            </div>
                        </a>    
                    </div>
                    @{
                        i ++;
                    }
                    @while(i < Model.Count && i % 4 != 0)
                    {
                        <div class="grid_column-3"> 
                            <a asp-action="Index" asp-route-topicName="@Model[i].name"  class="topic-item">
                                <div class="topic-item__img">
                                    <img src="@Model[i].describeImage" alt="">
                                </div>
                                <div class="topic-item__dicription">
                                    <h3 class="topic-item__title">@Model[i].name</h3>
                                </div>
                            </a>    
                        </div>
                        i ++;
                    }
                    @{
                        i --;
                    }
                </div>
            }
        }
    </div>
</div>