@{
    Layout = "_AdminLayout";
}
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Xóa bài tập";
}
@using PBL3.Models
@model Account
<div class="grow">
    <div class="grid_row">
        <div class="grid_column">
            <div class="deletePage">
                <div class="deletePage_header">
                    <h1>Xác nhận tài khoản @Model.accountName</h1>
                </div>
                <div class="deletePage_input">
                    <div class="formGroup">
                        <label for="accountName">Tên tài khoản :</label>
                        <input type="text" asp-for = "accountName">
                    </div>
                    <p class="deletePage_warning">
                        Việc xóa tài khoản có thể dẫn tới mất các dữ liệu sau !!!
                    </p>
                    <p>Các bài nộp :</p>
                    <table cellspacing="0" cellpadding="0" class="table submissions_table">
                        <thead>
                            <tr>
                                <th class="submissionID">ID</th>
                                <th>Ngày nộp</th>
                                <th>Tên bài</th>
                                <th>Trạng thái</th>
                                <th>CPU</th>
                                <th>Ngôn ngữ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.submissions)
                            {
                                string color = "";
                                <tr>
                                    <td class = "link submissionID" style="text-decoration: underline;" data-id="@item.ID">@item.ID</td>
                                    <td>@item.timeCreate.ToString("dd MMMM yyyy, HH:mm")</td>
                                    <td><a href="" class = "link">@item.problem.title</a></td>
                                    @if(item.status == "Accepted")
                                    {
                                        color = "#00bb00";
                                    }
                                    else
                                        if(@item.status == "Wrong Answer")
                                        {
                                            color = "#ff0000ba";
                                        }
                                    <td class = "submissionStatus" style= "color: @color">@item.status</td>
                                    <td class = "submissionTime">@item.time</td>
                                    <td>@item.language</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <p>Bình luận :</p>
                    <table cellspacing="0" cellpadding="0" class="table submissions_table">
                        <thead>
                            <tr>
                                <th class="submissionID">ID</th>
                                <th>Ngày tạo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.comments)
                            {
                                <tr>
                                    <td>
                                        <a href="" class="link" style="text-decoration: underline;">@item.ID</a>
                                    </td>
                                    <td>@item.timeCreate.ToString("dd MMMM yyyy, HH:mm")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <form asp-action = "DeleteAccount">
                        <div class="formSubmitGroup" style="position: sticky; bottom: 0; background-color: #fff">
                            <div class="formSubmit">
                                <button type="submit" class="submitButton button" style="background-color: #dc3545">
                                    <i class="fas fa-trash-alt"></i>
                                    <p>Xóa tài khoản</p>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay">
    <div class="detailSubmissionContainer">
        <i class="fas fa-times detailSubmissionIcon"></i>
        <div class="detailSubmissionContent">
        </div>
    </div>
</div>
@section Scripts
{
    <script src = "/js/Submission.js"></script>
}