@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Tạo bài mới";
    var listAuthors = (List<Account>)ViewData["ListAuthors"];
    var listCategories = (List<Category>)ViewData["ListCategories"];
    var listChosenAuthors = (List<int>)ViewData["ListChosenAuthorIds"];
    var listChosenCategories = (List<int>)ViewData["ListChosenCategoryIds"];
}
@model Problem
<div class="AddEditPage">
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column">
                <div class="AddEditPage_header">
                    <h1>Tạo bài mới</h1>
                </div>
                <div class="AddEditPage_input">
                    <form asp-action = "Add">
                        <div class="formGroup">
                            <label for="code">Mã bài :</label>
                            <input type="text" asp-for = "code" placeholder="Nhập mã bài">
                            <span asp-validation-for="code" class="text-danger"></span>
                        </div>
                        <div class="formGroup">
                            <label for="tilte">Tên bài :</label>
                            <input type="text" asp-for = "title" placeholder="Nhập tên bài">
                            <span asp-validation-for="title" class="text-danger"></span>
                        </div>
                        <div class = "formGroup">
                            <label for="reqListAuthorIds">Tác giả :</label>
                            <div style="min-width: 250px; display: inline-block">
                                <select name="reqListAuthorIds" id="reqListAuthorIds" multiple>
                                    @if(listAuthors != null)
                                    {
                                        @if(listChosenAuthors != null)
                                        {
                                            @foreach (var account in listAuthors)
                                            {
                                                if(listChosenAuthors.IndexOf(account.ID) != -1)
                                                {
                                                    <option value="@account.ID" selected>@account.accountName</option>
                                                }
                                                else
                                                {
                                                    <option value="@account.ID">@account.accountName</option>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            @foreach (var account in listAuthors)
                                            {
                                                <option value="@account.ID">@account.accountName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="formGroup">
                            <label>Đề bài :</label>
                            <div class="editor">
                                <textarea id="editor" rows="10" cols="80" asp-for ="@Model.content">
                                </textarea>
                            </div>
                            <div class="preview">
                                <div class="previewButton" id = "previewButton">
                                    Update Preview
                                </div>
                                <div class="previewContent">
                                </div>
                            </div>
                        </div>
                        <div class = "formGroup">
                            <label for="reqListCategorieIds">Dạng bài :</label>
                            <div style="min-width: 250px; display: inline-block">
                                <select name="reqListCategorieIds" id="reqListCategorieIds" multiple>
                                    @if(listCategories != null)
                                    {
                                        @if(listChosenAuthors != null)
                                        {
                                            @foreach (var cate in listCategories)
                                            {
                                                if(listChosenCategories.IndexOf(cate.ID) != -1)
                                                {
                                                    <option value="@cate.ID" selected>@cate.name</option>
                                                }
                                                else
                                                {
                                                    <option value="@cate.ID">@cate.name</option>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            @foreach (var cate in listCategories)
                                            {
                                                <option value="@cate.ID">@cate.name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class = "formGroup">
                            <input type="checkbox" asp-for = "isPublic" style="width: 15px;" value = "True">
                            <label for="isPublic">Công khai</label>
                        </div>
                        <div class="formGroup">
                            <label for="TimeLimit">Giới hạn thời gian :</label>
                            <input type="text" asp-for = "timeLimit" placeholder="Nhập thời gian giới hạn" style="width: 200px;"><span style="margin-left: 10px; color: #7b7b7b">s</span>
                            <span asp-validation-for="timeLimit" class="text-danger"></span>
                        </div>
                        <div class="formGroup">
                            <label for="MemoryLimit">Giới hạn bộ nhớ :</label>
                            <input type="text" asp-for = "memoryLimit" placeholder="Nhập giới hạn bộ nhớ" style="width: 200px;"><span style="margin-left: 10px; color: #7b7b7b">KB</span>
                            <span asp-validation-for="memoryLimit" class="text-danger"></span>
                        </div>
                        <div class="formGroup">
                            <label for="difficulity">Độ khó :</label>
                            <input type="text" asp-for = "difficulty" placeholder="Nhập độ khó" style="width: 200px;">
                            <span asp-validation-for="difficulty" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="formSubmitGroup" style="position: sticky; bottom: 0; background-color: #fff">
                            <div class="formSubmit">
                                <button type="submit" class="submitButton button" name = "next" value = "save">
                                    <i class="fas fa-save"></i>
                                    <p>Lưu bài tập</p>
                                </button>
                            </div>
                            <div class="formSubmit">
                                <button type="submit" class="submitButton button" name = "next" value = "edit">
                                    <i class="fas fa-save"></i>
                                    <i class="fas fa-caret-right"></i>
                                    <i class="far fa-edit"></i>
                                    <p>Lưu và tiếp tục chỉnh sửa</p>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        CKEDITOR.replace('editor');
        var previewBtn = document.getElementById("previewButton");
        previewBtn.addEventListener('click', function(e)
        {
            var html = CKEDITOR.instances.editor.getData();

            html = html.replaceAll("~", "$");

            var previewContent = document.getElementsByClassName("previewContent")[0];
            
            previewContent.innerHTML = html;

            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
            
            CKEDITOR.instances.editor.setData("", function()
            {
                CKEDITOR.instances.editor.insertHtml(html);
                var frame = document.querySelector(".cke_wysiwyg_frame");
                var css = '<style>code {padding: 20px !important;border: 1px solid #ccc;border-radius: 4px;background-color: #f0f0f029 !important;}</style>'
                frame.contentWindow.document.querySelector("head").innerHTML += css;
            });

            document.querySelectorAll('pre code').forEach((block) => {
                if(block.classList == "")
                    block.classList.add("plaintext");
                hljs.highlightBlock(block);
            });
                
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
        });
        CKEDITOR.on("instanceReady", function(event)
        {
            previewBtn.click();
            var frame = document.querySelector(".cke_wysiwyg_frame");
            var css = '<style>code {padding: 20px !important;border: 1px solid #ccc;border-radius: 4px;background-color: #f0f0f029 !important;}</style>'
            frame.contentWindow.document.querySelector("head").innerHTML += css;
        });
        new SlimSelect({
            select: '#reqListAuthorIds',
            placeholder: 'Chọn tác giả',
            searchText: 'Không thể tìm thấy',
        })
        new SlimSelect({
            select: '#reqListCategorieIds',
            placeholder: 'Chọn dạng bài',
            searchText: 'Không thể tìm thấy',
        })
    </script>
    <script src="/js/Validation.js"></script>
}
