@{
    ViewData["Title"] = "Danh sách bài tập";
    SearchForm sf = (SearchForm)ViewData["SearchForm"];
    var listCategories = (List<Category>)ViewData["ListCategories"];
}
@model List<Problem>;
<div class="ListProblemsPage">
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column-9">
                <div class="ListProblemsContainer">
                    <h1 class="ProblemPage_Header">Danh Sách Bài Tập</h1>
                    <table cellspacing="0" cellpadding="0" class="ListProblemTable">
                        <thead>
                            <tr>
                                <th class = "Number">#</th>
                                <th class = "Title">
                                    Tên Bài
                                </th>
                                <th class = "Status">
                                    Trạng Thái
                                </th>
                                <th class = "Points">
                                    Độ Khó
                                </th>
                                <th class = "SuccessRate">
                                    Tỉ Lệ AC
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr class= "ListProblemRow">
                                    <td class = "ProblemNumber">@(i + 1)</td>
                                    <td class = "ProblemTitle">
                                        <a asp-controller = "ListProblems" asp-action = "Problem" asp-route-id = "@Model[i].ID" class = "ProblemTitle_Link">@Model[i].Title</a>
                                    </td>
                                    <td class = "ProblemStatus"></td>
                                    <td class = "ProblemDifficullity">@Model[i].Difficulty</td>
                                    <td class = "ProblemSuccessRate"></td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid_column-3">
                <form asp-controller = "ListProblems" asp-action = "Index" method="GET">
                    <div class="ProblemFilter">
                        <h1 class="ProblemFillter_Header">Tìm Kiếm Bài Tập</h1>
                        <div class="ProblemNameFillter">
                            <input type="text" name = "ProblemName" id = "ProblemName" placeholder="Nhập tên bài">
                        </div>
                        <div class = "ProblemUnsolvedFillter">
                            <input type="checkbox" name="HideSolvedProblem" id="HideSolvedProblem" value = "true">
                            <label for="HideSolvedProblem">Ẩn bài đã hoàn thành</label>
                        </div>
                        <div class="ProblemCategoryFillter">
                            <label for="ProblemCategories">Dạng bài</label><br>
                            <select name="Test" id="ProblemCategories" multiple>
                                @foreach (var cate in listCategories)
                                {
                                    <option value="@cate.ID">@cate.Name</option>
                                }
                            </select>
                        </div>
                        <div class = "ProblemDifficultFillter">
                            <label for="MinDifficult">Độ khó</label>
                            <input type="text" name="MinDifficult" id="MinDifficult">
                            -
                            <input type="text" name="MaxDifficult" id="MaxDifficult">
                        </div>
                        <div class = "ProblemFillterSubmit">
                            <input type="submit" value="Lọc" class = "button ProblemFillterSubmit_Button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        new SlimSelect({
            select: '#ProblemCategories',
            placeholder: 'Chọn dạng bài',
            searchText: 'Không thể tìm thấy',
        })
    </script>
}