@using PBL3.Models
@model Topic
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Sửa chủ đề";
    var listArticles = (List<Article>)ViewData["ListArticles"];
    var listChosenArticleIds = (List<int>)ViewData["ListChosenArticleIds"];
}
<div class = "addEditPage">
    <div class="grid_row">
        <div class="grid_column">
            <div class = "addEditPage_header" style="display: flex; justify-content: space-between; align-items: center;">
                <h1>
                    Sửa chủ đề
                </h1>
                <a asp-action="History" asp-controller = "Topics" asp-route-id="@Model.ID" class="link">
                    <div class="button" style="padding: 5px; width: 150px">Lịch sử</div>
                </a>
            </div>
            <form asp-action = "EditTopic" enctype="multipart/form-data">
                <div class = "addEditPage_input">
                    <div asp-validation-summary="ModelOnly" class="div-danger"></div>
                    <div class="formGroup" style="display: flex;">
                        @if(!string.IsNullOrEmpty(Model.describeImage))
                        {
                            <div class="image-input" style="cursor: pointer; background-image: url(@Model.describeImage)"></div>
                        }
                        else
                        {
                            <div class="image-input" style="cursor: pointer;"></div>
                        }
                        <input type="file" id="file-input" name="describeImage" hidden>
                        <input type="text" asp-for="describeImage" hidden></input>
                        <div style="margin-left: 20px;">
                            <div class="formGroup">
                                <label for="name" style="width: 150px; display: inline-block;">Tên chủ đề:</label>
                                <input type="text" asp-for = "name" placeholder="Nhập tên chủ đề">
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                            <div class="formGroup">
                                <label for="reqListArticleIds" style="width: 150px; display: inline-block;">Bao gồm bài viết:</label>
                                <div style="min-width: 250px; display: inline-block">
                                    <select name="reqListArticleIds" id = "reqListArticleIds" multiple>
                                        @if(listArticles != null)
                                        {
                                            @foreach (var problem in listArticles)
                                            {
                                                if(listChosenArticleIds != null)
                                                {
                                                    if(listChosenArticleIds.IndexOf(problem.ID) != -1)
                                                    {
                                                        <option value="@problem.ID" selected>@problem.title</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@problem.ID">@problem.title</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="@problem.ID">@problem.title</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="formSubmitGroup" style="position: sticky; bottom: 0; background-color: #fff">
                        <div class="formSubmit">
                            <button type="submit" class="submitButton button">
                                <i class="fas fa-save"></i>
                                <p>Lưu thay đổi</p>
                            </button>
                        </div>
                        <div class="formSubmit">
                            <a style="text-decoration: none;" asp-action="DeleteTopic" asp-controller="Topics" asp-route-id = "@Model.ID">
                                <div class="submitButton button" style="background-color: #dc3545">
                                    <i class="fas fa-trash-alt"></i>
                                    <p>Xóa chủ đề</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        new SlimSelect({
            select: '#reqListArticleIds',
            placeholder: 'Chọn bài viết',
            searchText: 'Không tìm thấy',
        })
        document.querySelector(".image-input").addEventListener('click', function()
        {
            document.getElementById("file-input").click();
        })
        function loadFile(event) {
            var output = document.querySelector(".image-input");
            output.style.backgroundImage = `url('${URL.createObjectURL(event.target.files[0])}')`;
        };
        var fileInput = document.getElementById("file-input");
        fileInput.addEventListener('change', loadFile);
    </script>
    <script src="/js/Validation.js"></script>
}