@model List<Submission>
<div class="SubmissionsPage">
    <div class="grid">
        <div class="grid_row">
            <div class="grid_column">
                <div class="SubmissionsContainer">
                    <h1 class="Submissions_Header">Tất cả bài nộp</h1>
                    <table cellspacing="0" cellpadding="0" class="Submissions_Table">
                        <thead class = "Submissions_Table_Header">
                            <tr>
                                <th>ID</th>
                                <th>Ngày nộp</th>
                                <th>Người nộp</th>
                                <th style="width: 35%">Bài</th>
                                <th>Trạng thái</th>
                                <th>CPU</th>
                                <th>Ngôn ngữ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td class = "link SubmissionID">@Model[i].ID</td>
                                    <td>@Model[i].TimeCreate</td>
                                    <td><a href="" class = "link">@Model[i].User.UserName</a></td>
                                    <td><a asp-action = "Problem" asp-route-id = "@Model[i].Problem.ID" asp-controller = "ListProblems" class = "link">@Model[i].Problem.Title</a></td>
                                    <td class = "SubmissionStatus">@Model[i].Status</td>
                                    <td class = "SubmissionTime">?</td>
                                    <td>@Model[i].Language</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Overlay">
    <div class="DetailSubmissionContainer">
        <i class="fas fa-times DetailSubmissionIcon"></i>
        <div class="DetailSubmissionContent">
        </div>
    </div>
</div>
@section Scripts
{
    <script src = "/js/Submission.js"></script>
}